
body{
	background: white;
	color: black;
	font-family:calibri;
	font-weight: lighter;
	font-size: 20px;
	color: black;
	line-height:26px;
	margin-left:0px;
	


}

h1{
	font-family:bebas;
	font-weight:lighter;
	text-align:center;
	letter-spacing:10px;
	font-size: 70px;
	text-align: center;
	padding-top: 8%
}

h2{
	font-family:bebas;
	font-weight: lighter;
	font-size: 24px;
	color: black;
	padding-top:1%;
	padding-left:10%;
}

h3{
	font-family:bebas;
	font-weight:lighter;
	text-align: center;
	font-size:30px;
	padding-top:0%;
	
}

p{	
	margin-left:120px;
	padding-right:8%;	
	text-align:left;
	line-height: 26px;
}



img{
	padding-top:1%;
	opacity: 1;
	padding-left:1%;
}

footer{
	text-decoration:none;
	position:static;
	bottom:0;
	right:0;
	font-size:14px;
	padding:1%;
}

footer a:link{
	text-decoration:none;
}

footer a:visited{
	text-decoration:none;
	color:black;
}

footer a:hover{
	text-decoration:none;
}

footer a:active{
	text-decoration:none;
}

.topnav a{
	float:left;
	margin:0 0 10px 10px;
	display:block;
	color:white;
	text-align:center;
	padding:14px;
	text-decoration:none;
	font-size:12px;
	background-color: #581845  ;

}

.topnav a:hover {
	background-color: white;
	color:#581845  ;

}

.content {
	padding-left:5%;
	padding-right:5%;
	}

	